.board {
  position:absolute;
  top: 30%;
  left:40%;
  transform: scale(1.5);
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
    grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */

}


#Game_Name{
  position: absolute;
  top: 10%;
  left:39%;
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  
}

p{
  position:absolute;
  top:95%;
  left: 34.5%;
  font-weight: bold;
  
}

#replay{
  position:absolute;
  top:110%;
  left: 35.5%;
  width:100px;
  background: linear-gradient(rgb(245, 204, 0),rgb(204, 160, 0));
  color: black;
  font-weight: bold;
  font-size: 17px;
  
}


#Player_X_Style{
  color: green;
  size: 50px;
  font-weight: bold;
  
}

#Player_O_Style{
  color: red;
  size: 50px;
  font-weight: bold;
  
}

#Spectator_Style{
  color: blue;
  size: 50px;
  font-weight: bold;
  
}

#Playing{
  position:absolute;
  top:20%;
  left:10%;
  padding: 10px;
}

#Watching{
  position:absolute;
  top:20%;
  left:70%;
  
}

h2{
 color: black;
 text-decoration: underline;
}



.box {
  border: 5px solid black; /* Shows the lines in the CSS grid */
  text-align: center;
  background: linear-gradient(rgb(245, 204, 0),rgb(204, 160, 0),rgb(0, 53, 102),rgb(0, 29, 61));
  color: aqua;
  font-weight: bold;
  font-size:35px;
  padding-top: 20%;
  margin:.5px;
  
  
}

.Input_Form{
    position: absolute;
    top: 15%;
    left:33%;
    width: 500px;
    height: 500px;
    background:linear-gradient(rgb(0, 41, 107),rgb(0, 63, 136),rgb(0, 80, 157),rgb(253, 197, 0),rgb(255, 213, 0));
    border: 5px solid black;
    border-radius:15px;
}

#Form_Header1{
  position:absolute;
  top: 10%;
  left:25%;
  color:aqua;
}

#Form_Header3{
  display:inline-block;
  position: absolute;
  top: 30%;
  left:10%;
  margin-top: 25px;
  color:lime;
  font-weight: bold;
}

#Form_Input{
  border: 5px solid gold;
  position: absolute;
  top: 33%;
  left: 50%;
  width: 200px;
  margin-top: 10px;
  
}

#Form_Btn{
  position:absolute;
  top: 50%;
  left: 35%;
  width: 150px;
  height:40px;
  border-radius: 15px;
  background: linear-gradient(rgb(56, 176, 0),rgb(56, 176, 0));
  color: black;
  font-weight: bold;
  font-size: 17px;
  
}

